body {

    font-family: system-ui, sans-serif;
}
/* Example CSS to add shadows and themes */
.App {
    @apply bg-light-1 bg-opacity-30
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(37, 78, 75, 0.1);
  }
  
  .shadow-inner {
    box-shadow: inset 0 2px 4px rgba(11, 97, 119, 0.1);
  }
  
  textarea:focus {
    outline: none;
    border-color: #a0aec0;
    box-shadow: 0 0 0 2px rgba(160, 174, 192, 0.5);
  }
  